.Speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
}
.Direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.Direction:hover{
    background-color: aliceblue;
    color: #000;
}
.MASHA{
    color: blue;
}
.CHEBUTIKIN{
    color: bisque;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse ;
    color: red;
    padding: 5px;
}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd) {
    background-color:aqua;