@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
.Speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
}
.Direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: aliceblue;
}
.Direction:hover{
    background-color:aquamarine;
    color: #000;
}
.name{
    font-weight: bold;
    color: blueviolet;
}
.MASHA{
    color: blue;
}
.MASHA:hover{
    text-shadow: 1px 1px 5px black;
    border: 2px solid darkblue;
  }
.CHEBUTIKIN{
    color: bisque;
}
/*.CHEBUTIKIN:hover{
    text-shadow: 1px 1px 5px black;
    border: 2px solid darkblue;
  } */
.ANDREY{
    color: red;
}
/*.ANDREY:hover{
    text-shadow: 1px 1px 5px black;
    border: 2px solid darkblue;
  } */
table,th,td{
    border: 1px solid black;
    border-collapse: collapse ;
    color: red;
    padding: 5px;
}
th{
    text-align: center;
}
td{
    text-align: left;
}
tr:nth-child(odd) {
    background-color:aqua;
}

/*.icon {
    width: 24px;
    height: 24px;
  }
  .icon.car {
    fill: currentColor;
  } */

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color:beige;
  } 
  ul.navbar-horizontal a {
    display:block;
    padding:8px
  }
  ul.navbar-horizontal a:hover {  
    background-color:blue;
    color:white;
  }